@import url(./__container/lead__container.css);
@import url(./__image-container/lead__image-container.css);
@import url(./__image/lead__image.css);
@import url(./__info/lead__info.css);
@import url(./__quotes/lead__quotes.css);
@import url(./__image-color/lead__image-color.css);
.lead {
    padding: 25px 0 25px 0;
}

@media screen and (max-width: 768px) {
    .lead {
        padding: 0 20px 0 20px;
    }
}
@media screen and (max-width: 414px) {
    .lead {
        padding: 0;
    }
}
