.header__logo {
    margin: 20px 0 0 40px;
    height: 63px;
    width: 105px;
}

@media screen and (max-width: 768px) {
    .header__logo {
        margin: 0;
    }
}

@media screen and (max-width: 414px) {
    .header__logo {
        height: 42px;
        width: 70px;
    }
}
