.lead__image-container {
    width: 78%;
    height: 317px;
    display: flex;
    position: relative;
}

@media screen and (max-width: 414px) {
    .lead__image-container {
        width: 100%;
        height: 285px;
    }
}

@media screen and (max-width: 360px) {
    .lead__image-container {
        width: 100%;
        height: 255px;
    }
}
