.lead__image-color {
    position: absolute;
    top: 0;
    background: rgba(253, 255, 140, 0.5);
    width: 66.4%;
    height: 320px;
}
@media screen and (max-width: 768px) {
    .lead__image-color {
        width: 100%;
    }
}
@media screen and (max-width: 414px) {
    .lead__image-color {
        height: 258px;
    }
}

@media screen and (max-width: 360px) {
    .lead__image-color {
        height: 224px;
    }
}
